<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmIHZqKZC2V-suUsoDkxIDeeOKFxHatPc</string>
	<key>GCM_SENDER_ID</key>
	<string>541780212061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlroc.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-c9bed</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-c9bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541780212061:ios:c05af0bcc9749055e450b4</string>
</dict>
</plist>